<p id="notice"><%= notice %></p>

<p>
  <b>Style:</b>
  <%= @image.style %>
</p>

<p>
  <b>Type:</b>
  <%= @image.type %>
</p>

<p>
  <b>Path:</b>
  <%= @image.path %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
