<nav>
  <% page_A = image_tag("A.png", :alt => "A", :class => "round") %>
  <% page_1 = image_tag("1.png", :alt => "1", :class => "round") %>
  <% page_2 = image_tag("2.png", :alt => "2", :class => "round") %>
  <% page_3 = image_tag("3.png", :alt => "3", :class => "round") %>
  <% page_4 = image_tag("4.png", :alt => "4", :class => "round") %>
  <% page_5 = image_tag("5.png", :alt => "5", :class => "round") %>
  <% page_6 = image_tag("6.png", :alt => "6", :class => "round") %>
  <% page_7 = image_tag("7.png", :alt => "7", :class => "round") %>
  <% page_8 = image_tag("8.png", :alt => "8", :class => "round") %>
  <% page_9 = image_tag("9.png", :alt => "9", :class => "round") %>
  <% page_10 = image_tag("10.png", :alt => "10", :class => "round") %>
  <% page_C = image_tag("C.png", :alt => "C", :class => "round") %>

  <div class="round">
    <!-- navigation -->
    <%= link_to page_A, about_path %>
    <%= link_to page_1, about_path %>
    <%= link_to page_2, about_path %>
    <%= link_to page_3, about_path %>
    <%= link_to page_4, about_path %>
    <%= link_to page_5, about_path %>
    <%= link_to page_6, about_path %>
    <%= link_to page_7, about_path %>
    <%= link_to page_8, about_path %>
    <%= link_to page_9, about_path %>
    <%= link_to page_10, about_path %>
    <%= link_to page_C, contact_path %>

  </div>
</nav>
