<!DOCTYPE html>
<html>
  <head>
    <title>HAERFEST - <%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/javascripts' %>
  </head>
  <div class="header">
    <%= render 'layouts/header' %>
  </div>
  <body>
    <div class="container">
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
  </body>
  <div class="footer">
    <%= render 'layouts/footer' %>
  </div>
</html>
